/* Vendor prefixs */
$PrefixArray: webkit;

/**
 * Flex容器
 */
@mixin Flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/**
 * Flex item
 */
@mixin Flex($flexnum: 1) {

  -webkit-box-flex: $flexnum;
          box-flex: $flexnum;
  -webkit-flex: $flexnum;
          flex: $flexnum;

}

/**
 * 样式属性加上厂商前缀
 */
@mixin AutoPrefix($property, $value) {

  @each $prefix in $PrefixArray {
    -#{$prefix}-#{$property}: $value;
  }

  #{$property}: $value;
}

/**
 * 箭头
 * $size: 箭头单边长度
 * $width: 线条宽度
 * $color: 颜色
 * $direction: 方向(right | bottom | left | top)
 */
@mixin Arrow($size, $width: 1rpx  * 2, $color: $Black, $direction: right) {

  width: $size;
  height: $size;

  border-right: $width solid $color;
  border-bottom: $width solid $color;

  @include AutoPrefix(transform-origin, center center);

  @if $direction == right {

    @include AutoPrefix(transform, rotate(-45deg));

  } @else if $direction == left {

    @include AutoPrefix(transform, rotate(135deg));

  } @else if $direction == top {

    @include AutoPrefix(transform, rotate(-135deg));

  } @else if $direction == bottom {

    @include AutoPrefix(transform, rotate(45deg));

  }
}

/**
 * 叉
 * 通过伪元素描绘
 * $size : 长度
 * $width: 线条宽度
 * $color: 颜色
 */
@mixin Cross($size: 10rpx  * 2 , $width: 1rpx  * 2, $color: $Black) {

  position: relative;

  &::before,
  &::after {
    content: " ";
    position: absolute;
    display: block;

    top: 50%;
    left: 50%;

    width: $width;
    height: $size;
    background-color: $color;

    @include AutoPrefix(transform-origin, center center);
  }

  &::before {
    @include AutoPrefix(transform, translate(-50%, -50%) rotate(45deg));
  }

  &::after {
    @include AutoPrefix(transform, translate(-50%, -50%) rotate(-45deg));
  }

}

/**
 * 圆形
 * $diameter     : 直径
 * $backgroundColor: 背景色
 * $borderColor  : 边框色
 */
@mixin Round($diameter: 10rpx  * 2, $backgroundColor: $Black, $borderColor: $Black) {

  display: block;

  width: $diameter;
  height: $diameter;

  border: 1rpx * 2 solid $borderColor;

  background-color: $backgroundColor;

  @include AutoPrefix(border-radius, $diameter);

}
